<form name="authForm"
      ng-submit="vm.submitAction({user: vm.user})"
      class="form-signin"
      novalidate>

  <h2 class="form-signin-heading"
  >Demande de creation d'un compte</h2>

  <!--Server authentication error-->
  <p ng-show="vm.error"
     class="text-danger"
     ng-bind="vm.error"></p>

  <!--Email input-->
  <input ng-model="vm.user.email"
         ng-model-options="{ updateOn: 'default blur', debounce: { default: 1000, blur: 0 } }"
         type="email"
         name="email"
         class="form-control"
         placeholder="Email address "
         required
         autofocus>

  <!--Email error-->
  <div ng-show="retrieveForm.$submitted">
    <p ng-show="retrieveForm.email.$error.required"
       class="text-danger">Email necessaire</p>
    <p ng-show="retrieveForm.email.$error.email"
       class="text-danger">Entrer un email valide.</p>
  </div>

  <!--Password input-->
  <!--<input ng-model="vm.user.password"-->
         <!--type="password"-->
         <!--name="password"-->
         <!--class="form-control"-->
         <!--placeholder="Password"-->
         <!--required>-->

  <!--Password error-->
  <div ng-show="retrieveForm.$submitted">
    <p ng-show="retrieveForm.password.$error.required"
       class="text-danger">Mot de passe necessaire</p>
  </div>

  <button class="btn btn-lg btn-primary btn-block"
          ng-bind="vm.formTitle"
          type="submit"></button>
</form>