<div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="glyphicon glyphicon-remove"></i>
                </button>
                <h4 class="modal-title" id="myModalLabel">Edition d'un coupon</h4>
            </div>
            <div class="modal-body">
                <form name="editCouponForm">
                    <input type="hidden" name="objectId" ng-model="coupon.edit.objectId"/>

                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-tag"></i></span>
                        <input type="text" ng-model="coupon.edit.name" class="form-control" placeholder="Nom"
                               ng-required="true">
                    </div>
                    <br/>

                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-link"></i></span>
                        <input type="text" ng-model="coupon.edit.url" class="form-control" placeholder="Url"
                               ng-required="true">
                    </div>
                    <br/>

                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-barcode"></i></span>
                        <input type="text" ng-model="coupon.edit.barCode" class="form-control" placeholder="Code barre"
                               ng-required="true">
                    </div>
                    <br/>

                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        <input type="text" class="form-control" placeholder="Date de validité">
                    </div>
                    <br/>

                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                        <textarea class="form-control"
                                  ng-model="coupon.edit.description"
                                  placeholder="Description"></textarea>
                    </div>
                    <br/>

                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-th-list"></i></span>
                        <select class="form-control" ng-model="coupon.edit.selected_zone_id">
                            <option disabled>Sélectionner une zone</option>
                            <option ng-repeat="zone in zones.available"
                                    ng-value="zone.objectId"
                                    ng-selected="coupon.edit.zone_id.objectId == zone.objectId"
                                    >{{zone.name}}
                            </option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="edit()">Enregistrer
                </button>
            </div>
        </div>
    </div>
</div>
