<div class="lead">
    <h1>La team 1664</h1>

    <p>
        <em>Les membres de l'équipe</em>
    </p>
</div>
<div>
    <ul class="list-group">
        <li class="list-group-item"><span class="badge">Android killeuse</span>Fiona</li>
        <li class="list-group-item"><span class="badge">Môssieur Marketing</span>Loïc</li>
        <li class="list-group-item"><span class="badge">Androïd c'est génial !</span>Greg</li>
        <li class="list-group-item"><span class="badge">Le dev : trop facile</span>PS</li>
        <li class="list-group-item"><span class="badge">Au rayon spiritueux</span>Xtof</li>
    </ul>
</div>
<br/>
