<style> md-grid-list {
    margin: 8px;
}

.gray {
    background: #f5f5f5;
}

.green {
    background: #b9f6ca;
}

.yellow {
    background: #ffff8d;
}

.blue {
    background: #84ffff;
}

.purple {
    background: #b388ff;
}

.red {
    background: #ff8a80;
}

md-grid-tile {
    transition: all 400ms ease-out 50ms;
}
</style>
<md-content>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Settings">
                <md-icon md-font-icon="fa fa-book"></md-icon>
            </md-button>
            <h2>
                <span ng-bind="booking.village.name">Toolbar with Icon Buttons</span>
            </h2>
            <span flex></span>
            <md-select ng-model="booking.lastProject" placeholder="Projects">
                <md-optgroup label="{{category}}" ng-repeat="category in ['API','IHM','DB']">
                    <md-option ng-click="booking.action(project)"
                               ng-value="project.name"
                               ng-repeat="project in booking.projects | filter: {category: category }">
                        {{project.name}}
                    </md-option>
                </md-optgroup>
            </md-select>
        </div>
    </md-toolbar>
    <div layout="row" layout-margin layout-fill layout-padding>
        <div flex="20">
            <md-grid-list
                    md-cols-sm="1" md-cols-md="1" md-cols-gt-md="1"
                    md-row-height-gt-md="1:1" md-row-height="2:2"
                    md-gutter="12px" md-gutter-gt-sm="8px">
                <md-grid-tile
                        ng-repeat="(status,counter) in booking.village.bugCounter"
                        ng-class="{'red':status==='urgent','yellow':status=='normal','green':status=='low'}"
                        >
                    <h3 ng-bind="status"></h3>
                    <md-grid-tile-footer>
                        <h3 ng-bind="counter"></h3>
                    </md-grid-tile-footer>
                </md-grid-tile>
            </md-grid-list>
        </div>
        <div flex="80">
            <md-grid-list
                    md-cols-sm="2" md-cols-md="3" md-cols-gt-md="8"
                    md-row-height-gt-md="1:1" md-row-height="2:2"
                    md-gutter="12px" md-gutter-gt-sm="8px">
                <md-grid-tile ng-class="project.class"
                              ng-repeat="project in booking.projects"
                              md-colspan="2" md-colspan-sm="1"
                              md-rowspan="{{project.stack.length+1}}"
                              ng-if="project.stack.length>0"
                        >
                    <md-grid-tile-header layout="row" layout-align="space-around center"

                            >
                        <md-button ng-click="booking.action(project)">
                            {{project.name}}
                            <i class="fa"
                                    ng-class="{'fa-desktop':project.category=='IHM','fa-gear':project.category=='API','fa-database':project.category=='DB'}"></i>
                        </md-button>

                    </md-grid-tile-header>
                    <md-list>
                        <md-list-item class="md-2-line" ng-repeat="user in project.stack">
                            <div class="md-list-item-text">
                                <p>{{user}}</p>
                            </div>
                        </md-list-item>
                    </md-list>
                </md-grid-tile>
                <!--<md-grid-tile class="green" md-colspan="2" md-colspan-sm="1">-->
                <!--<md-grid-tile-footer>-->
                <!--<h3>#2: (1r x 1c)</h3>-->
                <!--</md-grid-tile-footer>-->
                <!--</md-grid-tile>-->
                <!--<md-grid-tile class="yellow">-->
                <!--<md-grid-tile-footer>-->
                <!--<h3>#3: (1r x 1c)</h3>-->
                <!--</md-grid-tile-footer>-->
                <!--</md-grid-tile>-->
                <!--<md-grid-tile class="blue"-->
                <!--md-rowspan="2">-->
                <!--<md-grid-tile-footer>-->
                <!--<h3>#4: (2r x 1c)</h3>-->
                <!--</md-grid-tile-footer>-->
                <!--</md-grid-tile>-->
                <!--<md-grid-tile class="red"-->
                <!--md-colspan="2" md-colspan-sm="1">-->
                <!--<md-grid-tile-footer>-->
                <!--<h3>#5: (2r x 2c)</h3>-->
                <!--</md-grid-tile-footer>-->
                <!--</md-grid-tile>-->
                <!--<md-grid-tile class="green"-->
                <!--md-rowspan="2">-->
                <!--<md-grid-tile-footer>-->
                <!--<h3>#6: (2r x 1c)</h3>-->
                <!--</md-grid-tile-footer>-->
                <!--</md-grid-tile>-->
            </md-grid-list>
        </div>
    </div>

</md-content>