<div class="lead">
    <h1>Zones</h1>
    <p>
        <em>Gérer Les zones</em>
        <a class="btn btn-sm btn-success pull-right"
           data-toggle="modal"
           ng-click="add()"
           data-target="#basicModal"><span class="glyphicon glyphicon-plus"></span>&nbsp;Ajouter</a>
    </p>
</div>
<br/>
<div ng-init="read()">
    <table class="table">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Beacon</th>
            <th>Description</th>
            <th>Création</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="zone in zone.list">
            <td>{{zone.name}}</td>
            <td>{{zone.beacon_id[0].name}}</td>
            <td>{{zone.description}}</td>
            <td>{{zone.createdAt | date:'dd/MM/yyyy'}}</td>
            <td>
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown"
                            aria-expanded="false">Actions <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a class="glyphicon glyphicon-pencil pointer btn-sm"
                                data-toggle="modal"
                                data-target="#basicModal"
                                ng-click="load(zone)">&nbsp;Modifier</a></li>
                        <li><a class="glyphicon glyphicon-qrcode pointer btn-sm"
                               ng-click="delete(beacon)">&nbsp;QRCode</a></li>
                        <li class="divider"></li>
                        <li><a class="glyphicon glyphicon-trash pointer btn-sm"
                               ng-click="delete(zone)">&nbsp;Supprimer</a></li>
                    </ul>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <!-- formulaire de saisie -->
    <span ng-include="'/views/partials/zone-edit.html'"></span>

</div>
